/*---- ESTILOS GENERALES ----*/
html {
  font-size: 1.6rem;
}

body {
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --fonttitle: 'Poppins';
  --fonttext: 'Montserrat';
  --fontcode: 'Kanit';
  --backgroundcolor: #fdf1f7;
  --titlecolor: #4a8073;
  --subtitlecolor: #606060;
  --itemscolor: #3d3c3d;
  --textguidecolor: rgba(50, 50, 50, 0.9);
  --objetscolor: #228380;
  --backgroundcode: rgba(0, 0, 0, 0.8);
  --whitecolor: #ffffff;
  --blackcolor: #000;
}

.layout {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  background: var(--backgroundcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ecebff 5%, #b6b5cb, #b3c6c4);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/*---- ESTILOS DEL HEADER ----*/
.header {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*-- LOGO Y NAME --*/
.header__container-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.creator__img {
  width: 2.7rem;
  height: 2.7rem;
}

.creator__container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator__item {
  font-family: var(--fonttext);
  font-size: 0.5rem;
  font-weight: 600;
}

.creator__desc {
  font-size: 0.3rem;
  font-weight: 700;
}

/*-- LINKS --*/
.header__nav {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.nav__link-container {
  padding: 0.4rem;
  border: none;
  outline: none;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.nav__link-container-1 {
  padding: 0.2rem 0.3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.nav__link {
  text-decoration: none;
  font-family: var(--fonttext);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--itemscolor);
  transition: all 200ms ease;
  display: flex;
  justify-content: center;

  &:hover {
    filter: invert(20%) contrast(150%);
    color: var(--objetscolor);
  }
}

.nav__link > i {
  color: var(--blackcolor);
  font-size: 1rem;

  &:hover {
    color: var(--objetscolor);
  }
}

/*---- ESTILOS DEL HERO ----*/

/*-- TITLES --*/
.section__titles {
  width: 80%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.titles__title {
  font-family: var(--fonttitle);
  font-size: 2.9rem;
  color: var(--titlecolor);
  text-align: center;
  text-wrap: nowrap;
  text-shadow: 0px 0px 2px #333;
}

.titles__subtitle {
  font-family: var(--fonttitle);
  font-size: 0.9rem;
  color: var(--subtitlecolor);
  text-align: center;
  text-wrap: balance;
  text-wrap: pretty;
  text-shadow: 0px 0px 1px #111;
}

/*-- CAROUSEL --*/
my-carousel {
  width: 85%;
  overflow: hidden;
}

.article__carousel {
  width: 80%;
  overflow: hidden;
}

.carousel__container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {
  width: 15rem;
  height: 10rem;
  margin-top: 4rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.carousel > img {
  width: 8rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 2px var(--blackcolor));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*-- ARROW --*/
.fa-arrow-down {
  margin: 5rem 0 0 0;
  font-size: 2.7rem;
  font-weight: 600;
  opacity: 0.5;

  animation: down 1s ease-in-out infinite alternate;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1rem);
  }
}

/*---- ESTILOS DEL MAIN ----*/
.section__main {
  width: 80%;
  margin: 4rem 0 0 0;
}

.main__main {
  width: 100%;
}

.main__title {
  margin: 0;
  font-family: var(--fonttitle);
  font-size: 2rem;
  color: var(--titlecolor);
  text-align: center;
  text-shadow: 0px 0px 2px #333;
  text-wrap: nowrap;
}

.mainlist__text {
  margin: 5rem 0 0.5rem 0;
  font-family: var(--fonttitle);
  color: var(--itemscolor);
  font-size: 1.2rem;
  font-weight: 800;
  display: flex;
  text-wrap: balance;
  text-wrap: pretty;
}

.container__mainlist {
  padding: 0.3rem 0 3rem 0;
  font-family: var(--fonttext);
  font-size: 0.7rem;
  font-weight: 600;
}

.mainlist__item {
  padding: 0.7rem 0 0 0;
  font-weight: 600;
  list-style: none;
}

strong,
b {
  font-weight: 800;
}

.main__endpoints {
  padding: 1rem 0 1rem 0;
  font-family: var(--fonttitle);
  color: var(--itemscolor);
  font-size: 1.5rem;
  font-weight: 700;
}

/*-- GRILLAS --*/
.main__container-containers {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'paso0'
    'paso1'
    'paso2'
    'paso3'
    'paso4'
    'paso5';
  grid-gap: 7rem;
}

.container-0 {
  grid-area: paso0;
}

.container-1 {
  grid-area: paso1;
  justify-self: end;
}

.container-2 {
  grid-area: paso2;
}

.container-3 {
  grid-area: paso3;
  justify-self: end;
}

.container-4 {
  grid-area: paso4;
}

.container-5 {
  grid-area: paso5;
  justify-self: center;
}

/*-- PASOS --*/
.main__container {
  width: 32rem;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--whitecolor);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #444;
  z-index: 10;
}

.main__subtitle {
  padding: 0 0 0.8rem 0;
  font-family: var(--fonttitle);
  font-size: 1.1rem;
  color: var(--objetscolor);
  text-shadow: 0px 0px 2px #ccc;
}

.main__ul-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__li-items {
  padding: 0.3rem 0;
  list-style: none;
  font-family: var(--fonttitle);
  color: var(--textguidecolor);
  font-size: 0.6rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.main__li-items > code {
  margin: 0 0 0 0.5rem;
  padding: 0.2rem 1rem;
  background: var(--backgroundcode);
  color: var(--whitecolor);
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: var(--fontcode);
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 0px 0px 4px var(--blackcolor);
  text-shadow: 0px 0px 1px #555;
}

.description__text {
  display: inline;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--itemscolor);
  opacity: 1;
}

/*-- ERRORES --*/
.title__error {
  margin: 1.5rem 0 0.4rem 0;
  font-family: 'Gantari';
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 200ms ease;
  cursor: default;

  &:hover {
    color: #555;
  }
}

.text-title__error {
  text-decoration: underline;
}

.title__error:nth-child(1) {
  margin-top: 0.5rem;
}

.list__error {
  margin-left: 1rem;
  font-family: 'Gantari';
  font-size: 0.7rem;
  color: #333;
  padding: 0.1rem;
  font-weight: 500;
}

/*-- IMÁGENES --*/
.main__container-img {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(150, 150, 150, 0.2);
  border: none;
  outline: none;
  border-radius: 10px;
  align-self: center;
  box-shadow: 0px 0px 2px #555;
}

.main__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  scale: 0.8;
  filter: brightness(110%) contrast(110%);
}

/*-- CURL / URL --*/
.main__solicitud {
  padding: 1rem 0 0.4rem 0;
  list-style: none;
  font-family: var(--fonttitle);
  color: var(--itemscolor);
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.main__code > code {
  margin: 0;
  padding: 0.2rem 1rem;
  background: var(--backgroundcode);
  color: var(--whitecolor);
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: var(--fontcode);
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 0px 0px 4px var(--blackcolor);
  text-shadow: 0px 0px 1px #555;
  text-wrap: nowrap;
}

.main__code > code:last-child {
  padding: 0.2rem 0.5rem;
}

.main__respuesta {
  padding: 1.5rem 0 0.4rem 0;
  list-style: none;
  font-family: var(--fonttitle);
  color: var(--itemscolor);
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}

/*---- ESTILOS DEL FOOTER ----*/

/*-- INFO --*/
.footer__footer {
  width: 100%;
  margin: 5rem 0 0 0;
  background: var(--subtitlecolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__containers {
  width: 80%;
  padding: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.9rem;
}

.links__text {
  font-family: var(--fonttext);
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--whitecolor);
}

.container__links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.3rem;
}

.links__container {
  display: flex;
  gap: 1rem;
}

.info__link {
  color: var(--whitecolor);
  font-family: var(--fonttitle);
  font-size: 0.6rem;
  font-weight: 500;
}

.info__link:hover {
  color: var(--itemscolor);
  opacity: 0.8;
}

/*-- LOGO --*/
.footer__container-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.footer__creator-img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(100%);
}

.footer__creator-container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__creator-item {
  font-family: var(--fonttext);
  font-size: 0.5rem;
  font-weight: 600;
  color: var(--whitecolor);
}

.footer__creator-desc {
  font-size: 0.3rem;
  font-weight: 700;
}

/*-- REDES SOCIALES --*/
.container__brands {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  flex-basis: 13%;
}

/*-- CONTACTO Y MAIL --*/
.brand__link-subtitle {
  padding: 0 0 0.5rem 0;
  font-family: var(--fonttext);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--whitecolor);
}

.contact__link {
  font-family: var(--fonttext);
  font-size: 0.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--whitecolor);
  position: relative;
}

.contact__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--whitecolor);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 300ms ease;
}

.contact__link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.contact-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/*-- ICONOS --*/
.fa-brands {
  font-size: 1rem;
  color: var(--whitecolor);

  &:hover {
    color: var(--itemscolor);
    opacity: 0.8;
  }
}

.contact-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*-- DERECHOS --*/
.footer__containers-derechos {
  padding: 1rem 0 0.7rem 0;
  font-family: var(--fonttext);
  font-size: 0.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: var(--whitecolor);
  border-top: 1.9px solid #888;
}

.contact__link-name {
  font-size: 0.1;
  font-weight: 400;
}

/*----- MEDIA QUERIES -----*/

@media (width < 1024px) {
  .layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  my-carousel {
    display: flex;
    justify-content: center;
  }

  .titles__title {
    font-size: 2.4rem;
  }

  .titles__subtitle {
    font-size: 0.7rem;
  }

  .section__main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__container-containers {
    justify-content: center;
  }

  .main__container {
    width: 30rem;
    align-self: center;
  }

  .main__code > code {
    font-size: 0.4rem;
    padding: 0.2rem;
  }

  .main__img {
    width: 100%;
    height: 100%;
    scale: 0.9;
  }
}

@media (width <=768px) {
  .section__main {
    width: 90%;
  }

  .titles__title {
    font-size: 2rem;
  }

  .main__container-containers {
    justify-content: center;
  }

  .main__container {
    width: 25rem;
  }

  .main__li-items > code {
    font-size: 0.3rem;
  }

  .main__code > code {
    font-size: 0.3rem;
    padding: 0.2rem;
  }

  .footer__containers {
    width: 90%;
  }
}

@media (width <= 735px) {
  .section__main {
    width: 90%;
  }

  my-carousel {
    display: none;
  }

  .titles__title {
    max-width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }

  .titles__subtitle {
    font-size: 0.5rem;
  }

  .main__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
  }

  .main__endpoints {
    font-size: 1.2rem;
    text-align: center;
  }

  .mainlist__text {
    font-size: 0.8rem;
    text-align: center;
  }

  .mainlist__item {
    font-size: 0.5rem;
  }

  .main__container-containers {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__container {
    width: 95%;
    height: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__li-items > code {
    font-size: 6px;
    padding: 0.2rem;
  }

  .main__li-items > code:last-child {
    font-size: 5px;
    padding: 0.2rem;
    margin: 0%;
  }

  .main__subtitle {
    font-size: 0.8rem;
    text-align: center;
  }

  .main__solicitud {
    font-size: 0.7rem;
  }

  .main__respuesta {
    font-size: 0.7rem;
  }

  .fa-arrow-down {
    font-size: 1.5rem;
  }

  .main__code > code {
    font-size: 10rem;
    padding: 0.2rem 0.1rem;
  }

  .main__code > code:last-child {
    font-size: 3px;
    padding: 0.2rem 0.1rem;
  }

  .main__img {
    width: 100%;
    height: 100%;
    scale: 0.9;
  }

  .footer__containers {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .container__brands {
    align-items: center;
  }

  .contact-1 {
    align-items: center;
  }

  .info__ul {
    text-align: center;
  }

  .links__text {
    font-size: 0.6rem;
  }

  .info__link {
    font-size: 0.6rem;
  }
}

@media (width <= 375px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .title__error {
    text-align: center;
    font-size: 1rem;
  }

  .text-title__error {
    font-size: 0.5rem;
  }
}
