---
import { getCollection } from "astro:content";

const error = await getCollection("error")
---

<div>
    {
        error.map((error) => {
            const { data } =  error
            const { title, cause, solution } = data

            return (
                <article>
                    <h4>{title}</h4>
                    <h5>{cause}</h5>
                    <div>
                        <p>{solution}</p>
                    </div>
                </article>
            )
        })
    }
</div>