---

---

<footer class="footer__footer">
    <div class="footer__containers">
      <div class="container__info">
        <div class="footer__container-creator">
          <img
            class="footer__creator-img"
            src="./imgs/Logo-Nico.webp"
            alt="Logo Nicolás Tapié"
            title="Nicolás Tapié"
          />
          <div
            class="footer__creator-container-description"
            title="Nicolás Tapié"
          >
            <span class="footer__creator-item creator__name"
              >Nicolás Tapié</span
            >
            <span class="footer__creator-item footer__creator-desc"
              >Programador web</span
            >
          </div>
        </div>

        <div class="container__links">
          <p class="links__text">
            Los datos utilizados han sido extraídos de
          </p>
          <div class="links__container">
            <a
              class="info__text info__link"
              href="https://es.wikipedia.org/wiki/Wikipedia:Portada"
              target="_blank">Wikipedia</a
            >

            <a
              class="info__text info__link"
              href="https://www.citypopulation.de/"
              target="_blank">City Population</a
            >
          </div>
        </div>
      </div>

      <div class="container__brands">
        <div class="brand__container-contact contact-1">
          <span class="brand__link brand__link-subtitle">Contacto</span>
          <span class="brand__link brand__link-mail"
            ><a href="mailto:nicoatapie@gmail.com" class="contact__link"
              >nicoatapie@gmail.com</a
            ></span
          >
        </div>

        <div class="brand__container-contact contact-2">
          <a
            href="https://www.instagram.com/nicotapie1/"
            class="brand__link"
            target="_blank"
            title="instagram"><i class="fa-brands fa-instagram"></i></a
          >
          <a
            href="https://www.linkedin.com/in/nicolasatapiedev30/"
            class="brand__link"
            target="_blank"
            title="linkedin"><i class="fa-brands fa-linkedin"></i></a
          >
          <a
            href="https://github.com/nicotapie30"
            class="brand__link"
            target="_blank"
            title="github"><i class="fa-brands fa-github"></i></a
          >
        </div>
      </div>
    </div>

    <div class="footer__containers footer__containers-derechos">
      <p class="footer__legalterms">
        &copy; Realizado por
        <a
          href="https://www.linkedin.com/in/nicolasatapiedev30/"
          class="contact__link contact__link-name"
          target="_blank">Nicolás Alejandro Tapié</a
        >
        - 2024
      </p>
    </div>
  </footer>