---

---

<header class="header">
    <div class="header__container-creator">
      <img
        class="creator__img"
        src="./imgs/Logo-Nico.webp"
        alt="Logo Nicolás Tapié"
        title="Nicolás Tapié"
      />
      <div class="creator__container-description" title="Nicolás Tapié">
        <span class="creator__item creator__name">Nicolás Tapié</span>
        <span class="creator__item creator__desc">Programador web</span>
      </div>
    </div>

    <div class="header__container-nav">
      <nav class="header__nav">
        <div class="nav__link-container nav__link-container-1">
          <a class="nav__link" href="#main" title="Guía">Guide</a>
        </div>
        <div class="nav__link-container">
          <a
            class="nav__link"
            href="https://github.com/nicotapie30/Localidades"
            target="_blank"
            title="Repositorio Localidades"
            ><i class="fa-brands fa-github"></i></a
          >
        </div>
      </nav>
    </div>
  </header>